
body {
color : #787878;
font-size : 11px;
background-color : #000;
font-family : Tahoma;
margin : 0;
padding : 0;
border : 1px solid #590000;
margin: auto; max-width: 650px;
}
a:link, a:visited {
color : #fe8f17;
text-decoration : none;
}
a:hover {
color : #ff4e00;
text-decoration : none;
}
input, textarea, select {
color : #6d6d6d;
background-color : #101010;
border : 1px solid #363636;
padding: 2px;
margin: 2px 2px 2px 4px;
}
input:hover, textarea:hover, select:hover {
color : #8f8f8f;
background-color : #212121;
border : 1px solid #434343;
padding: 2px;
margin: 2px 2px 2px 4px;
}
input:focus, textarea:focus, select:focus {
color : #78b100;
background-color : #1c2900;
border : 1px solid #385400;
padding: 2px;
margin: 2px 2px 2px 4px;
}
form {
display: inline;
}
.iblock1, .mblock {
color : #75bf00;
background-color : #030500;
background-image : url(images/gmenu.gif);
background-repeat : repeat-x;
background-position : 50% top;
margin-top : 1px;
margin-bottom : 1px;
padding : 2px;
border : 1px solid #415f00;
text-align : left;
}
.iblock1 a, .mblock a {
color : #75bf00;
border-bottom : 1px dotted #223200;
}
.iblock1 a:hover, .mblock a:hover {
color : #96f400;
border-bottom : 1px dotted #395400;
}
.menu, .news {
background-color : #040404;
background-image : url(images/menu.gif);
background-repeat : repeat-x;
background-position : 50% bottom;
margin-top : 1px;
margin-bottom : 1px;
padding : 2px;
border : 1px solid #590000;
}
.mainzag, .row {
color : #ffffff;
text-shadow : #000000 1px 1px 2px;
background-color : #000406;
margin : 1px;
padding : 1px;
border : 1px solid #005064;
}
.mainzag a:hover, .row a:hover {
color : #25c5ff;
border-bottom : 1px dotted #006882;
}
.msg {
color: #0084b5;
margin: 1px;border: 1px #002300 solid;
text-align: center;
background: url(http://gembox.org/theme/default/images/msg.bg.gif) repeat-x top;
}
.err {
color: #972928;margin: 1px;border: 1px #230000 solid;
text-align: center;background: url(images/err.bg.gif) repeat-x
top;
}
.aut, .title {
color : #b94201;
background-color : #020100;
background-image : url(images/tmn.gif);
background-repeat : repeat-x;
background-position : 50% bottom;
margin-top : 1px;
margin-bottom : 1px;
padding : 1px;
border-top : 1px solid #5c2901;
border-bottom : 1px solid #5c2901;
text-align : left;
}
.aut a:link, .aut a:visited, .title a:link, .title a:visited {
color : #b94201;
text-decoration : none;
border-bottom : 1px dotted #602200;
}
.aut a:hover, .title a:hover {
color : #ff5a00;
border-bottom : 1px dotted #933400;
}
.menu_razd {
color : #0084b5;
text-shadow : #000000 1px 1px 2px;
background-color : #000406;
background-image : url(images/bmenu.gif);
background-repeat : repeat-x;
background-position : 50% top;
margin-top : 1px;
margin-bottom : 1px;
padding : 1px;
border : 1px solid #005064;
}
.menu_razd a {
color : #0084b5;
border-bottom : 1px dotted #004354;
}
.menu_razd a:hover {
color : #25c5ff;
border-bottom : 1px dotted #006882;
}
.footer {
color : #0084b5;
text-shadow : #000000 1px 1px 2px;
background-color : #000406;
background-repeat : repeat-x;
background-position : 50% top;
margin-top : 1px;
margin-bottom : 1px;
padding : 2px;
border : 1px solid #005064;
}
.str {
border-top : 1px dotted #415f00;
border-bottom : 1px dotted #415f00;
border-left : 1px dotted #415f00;
border-right : 1px dotted #415f00;
font-size : x-small;
margin-top : 4px;
}
.str a:link, .str a:visited {
text-decoration : none;
}
.logo {
background-color : #000000;
}
.foot {
margin: 1px;
padding: 1px;
background-image : url(images/header.gif);
color : #a9a9a9;
text-shadow : #000000 1px 1px 2px;
text-align: left;
background-color : #0a0a0a;
background-repeat : repeat-x;
background-position : 50% top;
margin-bottom : 1px;
padding : 2px;
border : 1px solid #590000;
}
.foot a:link {
color : #a9a9a9;
text-decoration : none;
border-bottom : 1px dotted #3f3f3f;
}
.foot a:hover {
color : #d2d2d2;
text-decoration : none;
border-bottom : 1px dotted #696969;
}
.post, table{
width: 100%;
}
.rekl, .rekl_main {
padding-right : 1px;
padding-left : 1px;
border : 1px solid #3b3b3b;
text-align: center;
}
.cit {
border-left: 3px solid #005064;
border-bottom: 3px solid #005064;
color: #586776;
text-shadow: #000000 1px 1px 2px;
font-size : x-small;
padding : 2px 0 2px 4px;
margin-left : 2px;
}
.p_t {
color : #bd0000;
background-color : #050000;
background-image : url(images/rmenu.gif);
background-repeat : repeat-x;
background-position : 50% top;
margin-top : 1px;
margin-bottom : 1px;
padding : 2px;
border : 1px solid #590000;
}
.iblock {
color : #a9a9a9;
background-color : #0a0a0a;
background-repeat : repeat-x;
background-position : 50% top;
margin : 1px 1px 1px 1px;
padding : 1px;
border : 1px solid #4e4e4e;
}
.iblock a:link {
color : #a9a9a9;
text-decoration : none;
border : 1px dotted #3f3f3f;
}
.iblock a:hover {
color : #d2d2d2;
text-decoration : none;
border : 1px dotted #696969;
}
.1 {
background-color : #101010;
margin : 1px;
padding : 1px;
border : 1px solid #323232;
}
.2 {
background-color : #212121;
margin : 1px;
padding : 1px;
border : 1px solid #323232;
}
.pintas {
margin: 1px;
padding: 1px;
color : #b94201;
text-shadow : #000000 1px 1px 2px;
background-color : #020100;
background-image : url(tmn.gif);
background-repeat : repeat-x;
background-position : 50% bottom;
margin-top : 1px;
margin-bottom : 1px;
padding : 2px;
border : 1px solid #5c2901;
}
.icon48 {
font-size: large;
width: 48px;
height: 48px;
vertical-align: top;
text-align: center;
}
.icon14 {
font-size: small;
width: 14px;
height: 14px;
vertical-align: top;
text-align: center;
}
.on {color:#006600;}
.off {color:#330000;}
/* themes by N4d1 */

